<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.geca.trackingboss">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".TrackingBossApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:icon">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCj5_ZIJjYKGDRccyAzXI5J15FUCqqTgEA" />
        <activity android:name=".userinterface.relative.ViewRelativeActivity"/>
        <activity android:name=".userinterface.main.MainActivity" />
        <activity android:name=".userinterface.login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".userinterface.register.RegisterActivity" />
        <activity android:name=".userinterface.relative.TrackRelativeActivity" />
        <activity android:name=".userinterface.relative.AddEditRelativeActivity" />
    </application>

</manifest>